body {

    color: #f7f7f7;
  }
  .jumbotron {
    background-image: url("http://www.pxleyes.com/images/contests/song-lyrics/fullsize/Rubber-Duckie-4e109d9dbad3e.jpg");
    background-size: 100% 100%;
    text-align: center;
  }
  </body>